<!-- Hero Start -->
<section class="bg-half-260 pb-4 d-table w-100"
    style="background: url('../../../../assets/imgs/bg/Isuta_bg.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="candidate-detail text-center text-md-left p-4 rounded shadow bg-white">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="candidate-detail-top align-items-center">
                                <img [src]="urlImage" alt="Imagen de usuario"
                                    class="avatar avatar-medium rounded-circle shadow mr-md-3" alt="">
                                <div class="content mt-4 mt-sm-0">
                                    <h4 class="mb-0"> {{user.persona?.primer_nombre}} {{user.persona?.apellido_paterno}}
                                        - {{graduate.usuario}}</h4>
                                    <!--<h6 class="text-muted">Desarrollo de software</h6>-->
                                    <p class="mb-0"><i data-feather="map-pin"
                                            class="fas fa-map-marker-alt icon-sm mr-1"></i><span
                                            class="text-muted h6">{{graduate.ciudad}}</span></p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-md-4 mt-4 mt-sm-0">
                            <div class="text-md-right">
                                <a [routerLink]="['/system/alumni/update-perfil']" routerLinkActive="router-link-active"
                                    class="btn btn-outline-primary mt-2 ml-2">Actualizar
                                    Perfil</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->


<!-- Section Start -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="sticky-bar rounded bg-white shadow">
                    <div class="border-bottom p-4">
                        <h5 class="mb-0">Informacion personal</h5>
                    </div>

                    <div class="p-4">
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="mail" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Email :</h6>
                                <p class="text-muted mb-0">{{ graduate.email_personal }}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="map-pin" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Ubicación :</h6>
                                <p class="text-muted mb-0">{{ graduate.ciudad }}</p>
                            </div>
                        </div>
                        <!-- <div class="d-flex align-items-center mt-3">
                            <i data-feather="monitor" class="float-left mr-3"></i>
                           <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Titulo :</h6>
                                <p class="text-muted mb-0">Tecnologo superior en desarrollo de software</p>
                            </div>
                        </div>-->
                        <!--
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="award" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Ocupacion Actual :</h6>
                                <p class="text-muted mb-0">------</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="dollar-sign" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Salary Expectation :</h6>
                                <p class="text-muted mb-0">$4000+</p>
                            </div>
                        </div>-->
                        <!-- <div class="d-flex align-items-center mt-3">
                              <i data-feather="activity" class="float-left mr-3"></i>
                              <div class="overflow-hidden d-block">
                                 <h6 class="mb-0"> :</h6>
                                 <p class="text-muted mb-0">Lead Team</p>
                              </div>
                           </div> -->
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="briefcase" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Fecha de Graduación:</h6>
                                <p class="text-muted mb-0">{{ graduate['año_graduacion'] }}
                                </p>
                                <h6 class="mt-2">Estado Civil:</h6>
                                <p class="text-muted mb-0">{{ graduate.estadocivil }}
                                </p>
                                <h6 class="mt-2">Teléfono:</h6>
                                <p class="text-muted mb-0">{{ user.persona?.telefono }}
                                </p>
                            </div>
                        </div>

                        <div class="mt-1">
                            <a (click)="contactarPorWhatsapp()" href="javascript:void(0)"
                                class="btn btn-outline-primary mt-2">Contactar</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 col-12 mt-4 pt-2">
                <div class="rounded shadow bg-white p-4">
                    <h5>Descripción :</h5>
                    
                    <p class="text-muted mt-2">{{aficionSeleccionada?.descripcion}}</p>

                    <h5 class="mt-4">Hobies:</h5>
                    <p class="text-muted mt-4">{{aficionSeleccionada?.aficion}}</p>
                    <div class="mt-4">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li>
                                <h6>Willsoftec</h6>
                                <p class="mb-0"><i data-feather="cpu" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Lorem Ipsum passage</span></p>
                                <p class="mb-0"><i data-feather="map-pin" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Cuenca, Ecuador</span></p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Medio Tiempo</p>
                                <p class="text-muted mb-0">2021-20-10</p>
                            </li>
                        </ul>

                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-3">
                            <li>
                                <h6>Tecazuay</h6>
                                <p class="mb-0"><i data-feather="cpu" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Lorem Ipsum passage</span></p>
                                <p class="mb-0"><i data-feather="map-pin" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Cuenca, Ecuador</span></p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Medio Tiempo</p>
                                <p class="text-muted mb-0">2021-19-01</p>
                            </li>
                        </ul>

                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-3">
                            <li>
                                <h6>Web Developer</h6>
                                <p class="mb-0"><i data-feather="cpu" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Lorem Ipsum passage</span></p>
                                <p class="mb-0"><i data-feather="map-pin" class="fea icon-sm mr-1"></i><span
                                        class="text-muted">Cuenca, Ecuador</span></p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Medio Tiempo</p>
                                <p class="text-muted mb-0">2020-15-9</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->