.text-light {
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
    background-color: rgb(236, 234, 234);
    border-radius: 20px;
}

.form-control:focus {
    outline: none;
}

.img-1 {
    background-image: url('../../../../assets/imgs/bg/Estudiantes3.jpg');
    background-size: cover;
    background-position: center;
}

.image-container {
    margin-top: 20px;
}

.scroll-register {
    height: 44rem;
    overflow-y: auto;
}