<section>
  <div class="row g-0">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="custom-size">
        <ng-lottie [options]="options_Register"></ng-lottie>
      </div>
    </div>

    <div class="col-lg-6 d-flex flex-column align-items-end min-vh-100">
      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
        <img src="./assets/imgs/ALumni_Logo_Dark_Large.png" class="img-fluid" />
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4 scroll-register">
        <h1 class="font-weight-bold mb-4" style="color: var(--alumni-color); font-weight: bold;">Crear Cuenta</h1>
        <form class="mb-5" [formGroup]="registerForm" (ngSubmit)="register()">


          <div class="d-flex">
            <div class="flex-grow-1">
              <div class="form-group mr-3">
                <input type="text" class="form-input" placeholder=" " formControlName="primerNombre" id="InputNombreM1">
                <label for="InputNombreM1" class="form-label">Ingresa tu primer Nombre</label>
                <i class="ri-user-smile-line form-icon"></i>
              </div>

              <div class="text-danger mb-4"
                *ngIf="registerForm.get('primerNombre')?.hasError('required') && registerForm.get('primerNombre')?.touched">
                El primer nombre es obligatorio.
              </div>
            </div>

            <div class="mx-2 flex-grow-1">
              <div class="form-group">
                <input type="text" class="form-input" placeholder=" " formControlName="segundoNombre" id="InputNombreP">
                <label for="InputNombreP" class="form-label">Ingresa tu segundo Nombre</label>
                <i class="ri-user-smile-line form-icon"></i>
              </div>

              <div class="text-danger mb-4"
                *ngIf="registerForm.get('segundoNombre')?.hasError('required') && registerForm.get('segundoNombre')?.touched">
                El segundo nombre es obligatorio.
              </div>
            </div>
          </div>


          <div class="d-flex">
            <div class="flex-grow-1">
              <div class="form-group mr-3">
                <input type="text" class="form-input" placeholder=" " formControlName="primerApellido"
                  id="InputApellidoM">
                <label for="" class="form-label">Ingresa tu primer Apellido</label>
                <i class="ri-user-smile-line form-icon"></i>
              </div>
              <div class="text-danger mb-4"
                *ngIf="registerForm.get('primerApellido')?.hasError('required') && registerForm.get('primerApellido')?.touched">
                El primer apellido es obligatorio.
              </div>
            </div>

            <div class="mx-2 flex-grow-1">
              <div class="form-group">
                <input type="text" class="form-input" placeholder=" " formControlName="segundoApellido"
                  id="InputApellidoP">
                <label for="" class="form-label">Ingresa tu segundo Apellido</label>
                <i class="ri-user-smile-line form-icon"></i>
              </div>

              <div class="text-danger mb-4"
                *ngIf="registerForm.get('segundoApellido')?.hasError('required') && registerForm.get('segundoApellido')?.touched">
                El segundo apellido es obligatorio.
              </div>
            </div>
          </div>


          <div class="mb-4">
            <div class="form-group flex-grow-1 mr-3">
              <input type="text" class="form-input" placeholder=" " formControlName="cedula" id="InputCedula">
              <label for="" class="form-label">Ingresa tu Cedula</label>
              <i class="fa-solid fa-id-card form-icon"></i>
            </div>

            <div class="text-danger"
              *ngIf="registerForm.get('cedula')?.hasError('required') && registerForm.get('cedula')?.touched">
              La cedula es obligatoria.
            </div>
          </div>

          <div class="mb-4">
            <div class="form-group flex-grow-1 mr-3">
              <input type="text" class="form-input" placeholder=" " formControlName="telefono" id="InputTelefono">
              <label for="" class="form-label">Ingresa tu Telefono</label>
              <i class="fa-solid fa-phone-volume form-icon"></i>
            </div>

            <div class="text-danger"
              *ngIf="registerForm.get('telefono')?.hasError('required') && registerForm.get('telefono')?.touched">
              El número de telefono es obligatorio.
            </div>
          </div>

          <div class="mb-4">

            <div class="form-group">
              <input type="email" class="form-input" placeholder=" " id="InputNombreUsuario"
                formControlName="nombreUsuario" aria-describedby="usernameError">
              <label for="" class="form-label">Ingresa tu nombre de usuario</label>
              <i class="ri-at-line form-icon"></i>
            </div>

            <div class="text-danger"
              *ngIf="registerForm.get('nombreUsuario')?.hasError('required') && registerForm.get('nombreUsuario')?.touched">
              El nombre de usuario es obligatoria.
            </div>
          </div>

          <div class="mb-4">

            <div class="form-group">
              <input type="password" class="form-input" placeholder=" " id="InputPassword1" formControlName="clave"
                aria-describedby="passwordError">
              <label for="" class="form-label">Ingresa tu contraseña</label>
              <i class="ri-lock-line form-icon"></i>
            </div>

            <div class="text-danger"
              *ngIf="registerForm.get('clave')?.hasError('required') && registerForm.get('clave')?.touched">
              La contraseña es obligatoria.
            </div>
          </div>

          <div class="mb-4">

            <label for="InputFechaNacimiento" style="color: var(--alumni-color)">Fecha de Nacimiento</label>

            <input style="padding: 1rem 1rem;" type="date" formControlName="fechaNacimiento" class="form-control"
              id="InputFechaNacimiento" placeholder="Ingresa tu fecha de nacimiento">
            <!-- Mostrar mensaje de error para el campo fechaNacimiento -->
            <div class="text-danger"
              *ngIf="registerForm.get('fechaNacimiento')?.hasError('required') && registerForm.get('fechaNacimiento')?.touched">
              La fecha de nacimiento es obligatoria.
            </div>
          </div>

          <div class="mb-4">
            <label style="color: var(--alumni-color)">Subir Foto de perfil</label>

            <div class="card mg-b-20">
              <div class="card-header">
                <h4 class="card-header-title">
                  <!-- Muestra la visa previa dentro del primer seleccionador de archivos -->
                  <div class="preview-img" *ngIf="previsualizacion">
                    <button class="clear-image form-control border-0 cancel-button" type="button"
                      (click)="clearImage()">
                      Cancelar
                    </button>

                    <div class="image-container text-center" style="margin-top: 3rem;">
                      <!-- Ajusté el estilo del contenedor para centrar y hacer la imagen más grande -->
                      <img [src]="previsualizacion" alt="" style="width: 220px; height: 220px; object-fit: cover;" />
                    </div>
                  </div>
                </h4>
                <div class="card-header-btn">
                  <a href="" data-toggle="collapse" class="btn card-collapse" data-target="#collapse8"
                    aria-expanded="true">
                    <i class="ion-ios-arrow-down"></i>
                  </a>
                  <!-- Eliminé botones innecesarios -->
                </div>
              </div>
              <div class="card-body collapse show" id="collapse8">
                <!-- Moví el input type="file" aquí -->
                <input type="file" class="dropify" data-show-remove="false" (change)="capturarFile($event)"
                  accept=".jpg, .jpeg, .png" />
              </div>
            </div>

            <!-- Mostrar mensaje de error para el campo inputFoto -->

            <!-- Botón para subir la foto de perfil -->
            <div class="wrapper-button" *ngIf="previsualizacion">
              <!-- Agrega el botón necesario aquí -->
            </div>
          </div>


          <button type="submit" class="btn btn-primary w-100">Registrar</button>
        </form>

        <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
          <p class="d-inline-block mb-0">¿Ya tienes una cuenta?</p> <a href=""
            class="text-light font-weight-bold text-decoration-none" [routerLink]="['/account/login']"
            routerLinkActive="router-link-active"> Inicia Sesion</a>
        </div>
      </div>
    </div>
  </div>
</section>