<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Referencias.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Referencias Laborales</h1>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body collapse show" id="collapse1">
        <!-- Modal -->
        <div class="modal" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div [class.bg-success]="!editarClicked" [class.bg-primary]="editarClicked"
                        class="modal-header text-white">
                        <h5 [innerText]="editarClicked ? 'Modificar Referencia Laboral' : 'Crear Referencia Laboral'">
                        </h5>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-25" data-parsley-validate>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">Nombre: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="nombre"
                                                placeholder="Ingrese el nombre" id="nombre"
                                                [(ngModel)]="editarClicked ? nuevoReferenciaProfesionalCarga.nombreReferencia : nuevoReferenciaProfesional.nombreReferencia"
                                                (ngModelChange)="editarClicked ? nuevoReferenciaProfesionalCarga.nombreReferencia = $event : nuevoReferenciaProfesional.nombreReferencia = $event"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">INSTITUCIÓN: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="ubicacion"
                                                placeholder="Ingrese el nombre de la institucion" id="institucion"
                                                [(ngModel)]="editarClicked ? nuevoReferenciaProfesionalCarga.nombreInstitucion : nuevoReferenciaProfesional.nombreInstitucion"
                                                (ngModelChange)="editarClicked ? nuevoReferenciaProfesionalCarga.nombreInstitucion = $event : nuevoReferenciaProfesional.nombreInstitucion = $event"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25 my-3" data-parsley-validate>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">EMAIL: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="email"
                                                placeholder="Ingrese el correo" id="email"
                                                [(ngModel)]="editarClicked ? nuevoReferenciaProfesionalCarga.email : nuevoReferenciaProfesional.email"
                                                (ngModelChange)="editarClicked ? nuevoReferenciaProfesionalCarga.email = $event : nuevoReferenciaProfesional.email = $event"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">

                        <!-- Botón para registrar -->
                        <button (click)="createReferenciaPro()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-success" *ngIf="!editarClicked">
                            Registrar Experiencia
                        </button>

                        <!-- Botón para editar -->
                        <button (click)="onUpdateClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-primary" *ngIf="editarClicked">
                            Actualizar Experiencia
                        </button>

                        <button data-bs-dismiss="modal"
                            class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Modal -->
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4" type="button"
                    class="btn btn-oblong btn-success mg-b-10" style="margin-right:10px; width: 20rem; height: 2.5rem;">
                    Registrar Referencia Laboral
                </button>
            </div>
        </div>

        <div class="card-body pd-0 collapse show">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered custom-table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th>NOMBRE REFERENCIA</th>
                            <th>INSTITUCIÓN</th>
                            <th>EMAIL</th>
                            <th class="text-center w-100px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let referencia_pro of referencia_profesional;">
                            <th scope="row">{{referencia_pro.id}}</th>
                            <td>{{referencia_pro.nombreInstitucion}}</td>
                            <td>{{referencia_pro.nombreInstitucion}}</td>
                            <td>{{referencia_pro.email}}</td>
                            <td class="text-center table-actions d-flex justify-content-center">
                                <a (click)="onEditarClick(referencia_pro.id)" data-bs-toggle="modal"
                                    data-bs-target="#m_modal_4" class="table-action mg-r-10">
                                    <i class="fa-regular fa-pen-to-square" style="cursor: pointer;"></i>
                                </a>
                                <a (click)="onDeleteClick(referencia_pro.id!)" class="table-action ms-2 text-danger">
                                    <i class="fa fa-trash" style="cursor: pointer;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>