<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Postulaciones.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Titulos</h1>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal animate__animated animate__fadeInDown animate__faster" id="m_modal_4" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div [class.bg-success]="!editarClicked" [class.bg-primary]="editarClicked" class="modal-header text-white">
                <h5 [innerText]="editarClicked ? 'Modificar Titulo' : 'Crear Titulo'">
                </h5>
            </div>

            <div class="modal-body">
                <form #validateForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Nombre del Título: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control wd-250" type="text" name="nombre_titulo"
                                        placeholder="Ingrese el nombre del título"
                                        [(ngModel)]="editarClicked ? tituloCarga.nombre_titulo : titulo.nombre_titulo"
                                        (ngModelChange)="editarClicked ? tituloCarga.nombre_titulo = $event : titulo.nombre_titulo = $event"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Tipo de Título: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control wd-250" type="text" name="tipo"
                                        placeholder="Ingrese el tipo de título"
                                        [(ngModel)]="editarClicked ? tituloCarga.tipo : titulo.tipo"
                                        (ngModelChange)="editarClicked ? tituloCarga.tipo = $event : titulo.tipo = $event"
                                        required>
                                </div>
                            </div>
                        </div>

                        <div class="row mg-b-25">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label active">Carrera: <span
                                            class="tx-danger">*</span></label>
                                    <select class="form-control" name="carrera"
                                        [(ngModel)]="editarClicked ? tituloCarga.nombrecarrera : titulo.nombrecarrera"
                                        (ngModelChange)="editarClicked ? tituloCarga.nombrecarrera = $event : titulo.nombrecarrera = $event"
                                        required>
                                        <option value="" disabled selected>-- Seleccione una opción --</option>
                                        <option *ngFor="let carreras of carrerasList" [value]="carreras.nombre">
                                            {{carreras.nombre }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Nivel de Título: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control wd-250" type="text" name="nivel"
                                        placeholder="Ingrese el nivel de título"
                                        [(ngModel)]="editarClicked ? tituloCarga.nivel : titulo.nivel"
                                        (ngModelChange)="editarClicked ? tituloCarga.nivel = $event : titulo.nivel = $event"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-b-25">
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Institución: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control wd-250" type="text" name="institucion"
                                        placeholder="Ingrese la institución"
                                        [(ngModel)]="editarClicked ? tituloCarga.institucion : titulo.institucion"
                                        (ngModelChange)="editarClicked ? tituloCarga.institucion = $event : titulo.institucion = $event"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Fecha de Registro: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control" type="date" name="fecha_registro"
                                        [(ngModel)]="editarClicked ? tituloCarga.fecha_registro : titulo.fecha_registro"
                                        (ngModelChange)="editarClicked ? tituloCarga.fecha_registro = $event : titulo.fecha_registro = $event"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-b-25">
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Fecha de Emisión: <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control" type="date" name="fecha_emision"
                                        [(ngModel)]="editarClicked ? tituloCarga.fecha_emision : titulo.fecha_emision"
                                        (ngModelChange)="editarClicked ? tituloCarga.fecha_emision = $event : titulo.fecha_emision = $event"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label class="form-control-label active">Número de Registro:
                                        <span class="tx-danger">*</span></label>
                                    <input class="form-control wd-250" type="text" name="num_registro"
                                        placeholder="Ingrese el número de registro"
                                        [(ngModel)]="editarClicked ? tituloCarga.num_registro : titulo.num_registro"
                                        (ngModelChange)="editarClicked ? tituloCarga.num_registro = $event : titulo.num_registro = $event"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-oblong" [class.btn-success]="!editarClicked"
                            [class.btn-primary]="editarClicked" [disabled]="validateForm.invalid"
                            data-bs-dismiss="modal">
                            {{ editarClicked ? 'Actualizar Experiencia' : 'Registrar Experiencia' }}
                        </button>

                        <button type="button" data-bs-dismiss="modal"
                            class="btn btn-oblong btn-outline-danger btn-block">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->


<div class="card">
    <div class="card-body collapse show">

        <div class="col-md-12 col-lg-12 animate__animated animate__fadeIn animate__fast">
            <div class="d-flex">
                <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4" type="button"
                    class="btn btn-oblong btn-success mg-b-10" style="margin-right:10px; width: 20rem; height: 2.5rem;">
                    Registrar Titulo
                </button>
            </div>
        </div>
        <div class="card-body pd-0 collapse show animate__animated animate__bounceInUp animate__fast">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered custom-table hover">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th>Nombre del Título</th>
                            <th>Tipo</th>
                            <th>Nivel</th>
                            <th>Institución</th>
                            <th>Fecha de Registro</th>
                            <th>Fecha de Emisión</th>
                            <th>Número de Registro</th>
                            <th>Carrera</th>
                            <th class="text-center w-100px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let titulo of tituloList;">
                            <th scope="row">{{ titulo.id }}</th>
                            <td>{{titulo.nombre_titulo}}</td>
                            <td>{{titulo.tipo}}</td>
                            <td>{{titulo.nivel}}</td>
                            <td>{{titulo.institucion}}</td>
                            <td>{{titulo.fecha_registro}}</td>
                            <td>{{titulo.fecha_emision}}</td>
                            <td>{{titulo.num_registro}}</td>
                            <td>{{titulo.nombrecarrera}}</td>
                            <td class="text-center table-actions align-middle justify-content-center">
                                <a (click)="onEditarClick(titulo.id)" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                                    class="table-action mg-r-10">
                                    <i class="fa-regular fa-pen-to-square" style="cursor: pointer;"></i>
                                </a>
                                <a (click)="onDeleteClick(titulo.id!)" class="table-action ms-2 text-danger">
                                    <i class="fa fa-trash" style="cursor: pointer;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>