<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<!-- Modal -->
<div class="modal" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel_4">Crear nuevo Sector</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
            </button>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <label for="recipient-name-1" class="form-control-label">Nombre Sector:</label>
                  <input type="text" class="form-control" id="recipient-name-1">

                  <label for="recipient-name-1" class="form-control-label">Mas:</label>
                  <input type="text" class="form-control" id="recipient-name-1">
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Crear</button>
         </div>
      </div>
   </div>
</div>
<!--/ Modal -->
<!-- Action Table Start -->
<div class="col-md-12 col-lg-12">
    <div class="card mg-b-20">
        <div class="card-header">
            <h4 class="card-header-title">
             Sectore Empresariales Instituto
            </h4>
            <div class="card-header-btn d-flex justify-content-center align-items-center">
                <select name="" data-provide="selectpicker" style="margin-right: 10px; border: none;">
                    <option value="">Nombre</option>
                    <option value="">Codigo</option>
                </select>
                <div class="input-group rounded" style="margin-right: 10px;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#m_modal_4" style="background-color: transparent; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                </button>
            </div>
            
            
        </div>
        <div class="card-body pd-0 collapse show" id="collapse7">
            <table class="table table-separated table-responsive-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Sector</th>
                    <th>Fecha</th>
                    <th class="text-center w-100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">5</th>
                    <td>Mecanica</td>
                    <td>21/1/2024</td>
                    <td class="text-right table-actions">
                        <a class="table-action  mg-r-10" data-bs-toggle="modal" data-bs-target="#m_modal_4"><i class="fa fa-pencil"></i></a>
                        <a class="table-action  mg-r-10"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Action Table End -->
</body>
</html>