<!-- SIDEBAR -->
<div class="content-slide">
    <section id="sidebar">
        <a href="#" class="brand">
            <img class="icon" src="../../../assets/imgs/Alumni_logo_mini.png" alt="">
            {{rolType}}
        </a>

        <!-- NOTE: TEMPLATE: [routerLink]="['/system/alumni']" routerLinkActive="router-link-active" -->
        <!-- NOTE: <li><a href="#"><i class='bx bx-table icon'></i> SOLO UNA OPCION EJEMPLO</a></li> -->

        <!-- NOTE: ALUMNI -->
        <ul class="side-menu" [class.hidden]="!showAlumniOptions">

            <li>
                <a [class.active]="activeMenuItem === 'Dashboard'" [routerLink]="['/system/alumni']"
                    (click)="setActiveMenuItem('Dashboard')">
                    <i class='bx bxs-dashboard icon'></i> Dashboard
                </a>
            </li>

            <li class="divider" data-text="Perfil Alumni">Perfil Alumni</li>

            <li>
                <a href="javascript:void(0)"><i class='fa-solid fa-user-tie icon'></i>Mi Perfil<i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a (click)="setActiveMenuItem('Mi Perfil')" [routerLink]="['/system/alumni/perfil']"
                            routerLinkActive="router-link-active">
                            Mi Perfil</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Actualizar Perfil')"
                            [routerLink]="['/system/alumni/update-perfil']" routerLinkActive="router-link-active">
                            Actualizar Perfil</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Mi Experiencia')" [routerLink]="['/system/alumni/experiencia']"
                            routerLinkActive="router-link-active">
                            Mi Experiencia</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Mis Capacitaciones')"
                            [routerLink]="['/system/alumni/capacitaciones']" routerLinkActive="router-link-active">
                            Mis Capacitaciones</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Mis Titulos')" [routerLink]="['/system/alumni/titulos']"
                            routerLinkActive="router-link-active">
                            Mis Titulos</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Referencias Personales')"
                            [routerLink]="['/system/alumni/referencias-personales']"
                            routerLinkActive="router-link-active">
                            Referencias Personales</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Referencias Laborales')"
                            [routerLink]="['/system/alumni/referencias-laborales']"
                            routerLinkActive="router-link-active">
                            Referencias Laborales</a>
                    </li>
                </ul>
            </li>
            <li class="divider" data-text="Ofertas De Trabajo">Ofertas De Trabajo</li>
            <li>
                <a href="javascript:void(0)"><i class='fa-solid fa-briefcase icon'></i> Postulaciones <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a (click)="setActiveMenuItem('Mis Postulaciones')" [routerLink]="['/system/alumni/postulaciones']"
                            routerLinkActive="router-link-active">
                            Mis Postulaciones</a>
                    </li>
                    <li><a (click)="setActiveMenuItem('Ofertas de Trabajo')" [routerLink]="['/system/alumni/ofertas-trabajo']"
                            routerLinkActive="router-link-active">
                            Ofertas de Trabajo</a>
                    </li>
                </ul>
            </li>
            <li class="divider" data-text="Comunidad Tecazuay">Comunidad Tecazuay</li>
            <li><a [routerLink]="['/system/alumni/comunidad']" routerLinkActive="router-link-active"
                    (click)="setActiveMenuItem('Comunidad De Graduados - Tecazuay')" href="javascript:void(0)"><i
                        class='fa-solid fa-graduation-cap icon'></i>Comunidad Graduados</a></li>
        </ul>





        <!-- NOTE: ADMINISTRADOR -->
        <ul class="side-menu" [class.hidden]="!showAdminOptions">

            <li [class.active]="activeMenuItem === 'dashboard'">
                <a [routerLink]="['/system/admin']" (click)="setActiveMenuItem('dashboard')">
                    <i class='bx bxs-dashboard icon'></i> Dashboard
                </a>
            </li>

            <li class="divider" data-text="Perfil Alumni">Perfil Alumni</li>

            <li>
                <a href="javascript:void(0)"><i class='fa-solid fa-user-tie icon'></i>Mi Perfil<i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a [routerLink]="['/system/admin/perfil']" routerLinkActive="router-link-active">Mi
                            Perfil</a>
                    </li>
                    <li><a href="#">Estudiantes</a></li>
                </ul>
            </li>
            
            <li class="divider" data-text="Usuarios">Usuarios</li>
            <li>
                <a href="javascript:void(0)"><i class='bx bxs-user icon'></i> Administrar usuarios <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a [routerLink]="['system/admin/usuarios-list']" routerLinkActive="router-link-active">Ver usuarios</a></li>
                </ul>
            </li>
            <li class="divider" data-text="Ofertas De Trabajo">Ofertas De Trabajo</li>
            <li>
                <a href="javascript:void(0)"><i class='bx bxs-inbox icon'></i> Postulaciones <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Experiencia</a></li>
                </ul>
                
            </li>
            
            <li class="divider" data-text="Analitica y Reportes">Analítica y Reportes</li>
            
            <li>
                <a href="javascript:void(0)"><i class='fa-solid fa-user-tie icon'></i>Reportes<i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a [routerLink]="['/system/admin/reportes']" routerLinkActive="router-link-active">Mis reportes visuales</a>
                    </li>
                    <li><a [routerLink]="['/system/admin/reportes']" routerLinkActive="router-link-active">Informes</a>
                </li>
                </ul>
            </li>
        </ul>




        <!-- NOTE: EMPRESARIO -->
        <ul class="side-menu" [class.hidden]="!showEmpresarioOptions">

            <li [class.active]="activeMenuItem === 'dashboard'">
                <a [routerLink]="['/system/company']" (click)="setActiveMenuItem('dashboard')">
                    <i class='bx bxs-dashboard icon'></i> Dashboard
                </a>
            </li>

            <li class="divider" data-text="Perfil Alumni">Perfil Alumni</li>

            <li>
                <a href="javascript:void(0)"><i class='fa-solid fa-user-tie icon'></i>Mi Perfil<i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a [routerLink]="['/system/company/perfil']" routerLinkActive="router-link-active">Mi
                            Perfil</a>
                    </li>
                    <li><a href="#">Mas</a></li>
                </ul>
            </li>
            <li class="divider" data-text="Ofertas De Trabajo">Ofertas De Trabajo</li>
            <li>
                <a href="javascript:void(0)"><i class='bx bxs-inbox icon'></i> Postulaciones <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Ofertar Trabajo</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <a style="font-weight: 700; font-size: 22px;">{{activeMenuItem}}</a>
            </form>
            <div class="profile">
                <a>Bienvenido "{{ name }}"</a>
                <img [src]="urlImage" alt="Imagen de usuario" alt="Foto De Perfil">
                <ul class="profile-link">
                    <li><a [routerLink]="['/system/admin/perfil-admin']" routerLinkActive="router-link-active"><i
                                class='bx bxs-user-circle icon'></i> Perfil</a></li>
                    <li><a [routerLink]="['/system/admin/perfil-form']" routerLinkActive="router-link-active"><i
                                class='bx bx-user-pin icon'></i> Actualizar Perfil</a></li>
                    <li><a [routerLink]="['/inicio']" routerLinkActive="router-link-active"><i
                                class='bx bx-exit icon'></i> Cerrar Sesion</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->
</div>