<!-- SIDEBAR -->
<div class="content-slide">
    <section id="sidebar">
        <a href="#" class="brand">
            <img class="icon" src="../../../assets/imgs/Alumni_logo_mini.png" alt="">
            Alumni
        </a>
        <ul class="side-menu">
            <li><a href="#" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li class="divider" data-text="Perfil">Perfil</li>
            <li>
                <a href="#"><i class='bx bxs-inbox icon'></i> Mi Perfil <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Mi Perfil</a></li>
                    <li><a href="#">Mi Experiencia</a></li>
                    <li><a href="#">Mis Capacitaciones</a></li>
                    <li><a href="#">Mis Logros</a></li>
                    <li><a href="#">Referencias Laborales</a></li>
                </ul>
            </li>
            <li class="divider" data-text="table and forms">Ofertas De Trabajo</li>
            <li><a href="#"><i class='bx bx-table icon'></i> EXTRA</a></li>
            <li>
                <a href="#"><i class='bx bxs-notepad icon'></i> EXTRA <i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Basic</a></li>
                    <li><a href="#">Select</a></li>
                    <li><a href="#">Checkbox</a></li>
                    <li><a href="#">Radio</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <a style="font-weight: 700; font-size: 22px;">Dashboard</a>
            </form>
            <div class="profile">
                <a>Bienvenido "Angel Cardenas"</a>
                <img src="../../../assets/imgs/User_Icon.png" alt="Foto De Perfil">
                <ul class="profile-link">
                    <li><a href="#"><i class='bx bxs-user-circle icon'></i> Perfil</a></li>
                    <li><a href="#"><i class='bx bx-user-pin icon'></i> Actualizar Perfil</a></li>
                    <li><a href="#"><i class='bx bx-exit icon'></i> Cerrar Sesion</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->
</div>