<!-- Hero Start -->
<section class="bg-half-260 pb-4 d-table w-100" style="background: url('../../../../assets/imgs/bg/Isuta_bg.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="candidate-detail text-center text-md-left p-4 rounded shadow bg-white">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="candidate-detail-top align-items-center">
                                <img src="../../../../assets/imgs/User_Icon.png"
                                    class="avatar avatar-medium rounded-circle shadow mr-md-3" alt="">
                                <div class="content mt-4 mt-sm-0">
                                    <h4 class="mb-0">Angel Steven</h4>
                                    <h6 class="text-muted">Desarrollo de software</h6>
                                    <p class="mb-0"><i data-feather="map-pin" class="fas fa-map-marker-alt icon-sm mr-1"></i><span
                                            class="text-muted h6">Cuenca</span></p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-md-4 mt-4 mt-sm-0">
                            <div class="text-md-right">
                                <a routerLinkActive="router-link-active" class="btn btn-outline-primary mt-2 ml-2" data-bs-toggle="modal" data-bs-target="#m_modal_4">Actualizar
                                    Perfil</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->


<!-- Section Start -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="sticky-bar rounded bg-white shadow">
                    <div class="border-bottom p-4">
                        <h5 class="mb-0">Informacion personal</h5>
                    </div>

                    <div class="p-4">
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="mail" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Email :</h6>
                                <p class="text-muted mb-0">angel-gmail.copm</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="map-pin" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Ubicación :</h6>
                                <p class="text-muted mb-0">Cuenca, Ecuador</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="monitor" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Titulo :</h6>
                                <p class="text-muted mb-0">Tecnologo superior en desarrollo de software</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="award" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Ocupacion Actual :</h6>
                                <p class="text-muted mb-0">------</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="dollar-sign" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Salary Expectation :</h6>
                                <p class="text-muted mb-0">$4000+</p>
                            </div>
                        </div>
                        <!-- <div class="d-flex align-items-center mt-3">
                              <i data-feather="activity" class="float-left mr-3"></i>
                              <div class="overflow-hidden d-block">
                                 <h6 class="mb-0"> :</h6>
                                 <p class="text-muted mb-0">Lead Team</p>
                              </div>
                           </div> -->
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="briefcase" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Fecha de registro :</h6>
                                <p class="text-muted mb-0">06/01/2025</p>
                            </div>
                        </div>

                        <div class="mt-1">
                            <a href="javascript:void(0)" class="btn btn-outline-primary mt-2">Contactar</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 col-12 mt-4 pt-2">
                <div class="rounded shadow bg-white p-4">
                    
                    <div class="card-body pd-0 collapse show" id="collapse1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Tipo</th>
                                        <th>Institución</th>
                                        <th>Nombre del Título</th>
                                        <th>Fecha de Registro</th>
                                        <th>Fecha de Emisión</th>
                                        <th>Número de Registro</th>
                                        <th>Carrera</th>
                                        <th class="text-center w-100px">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<div class="modal" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div [class.bg-success]="!editarClicked" [class.bg-primary]="editarClicked"
                        class="modal-header text-white">
                        <h5 >
                        </h5>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">EMPRESA: <span
                                                    class="tx-danger">*</span></label>
                                            <select class="form-control" name="empresa">
                                                <option value="">-- Seleccione una opción --</option>
                                                <option value="tiempo-completo">WILLSOFTEC</option>
                                                <option value="tiempo-completo">RENAFIT</option>
                                                <option value="tiempo-completo">LIBELULA</option>
                                                <option value="tiempo-completo">STEVE BRO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">CARGO: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control wd-250" type="text" name="username"
                                                placeholder="Ingrese el cargo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">JORNADA: <span
                                                    class="tx-danger">*</span></label>
                                            <select class="form-control" name="jornada">
                                                <option value="">-- Seleccione una opción --</option>
                                                <option value="tiempo-completo">MATUTINA</option>
                                                <option value="medio-tiempo">Medio Tiempo</option>
                                                <option value="temporal">Temporal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">EXPERIENCIA: <span
                                                    class="tx-danger">*</span></label>
                                            <select class="form-control" name="jornada">
                                                <option value="">-- Seleccione una opción --</option>
                                                <option value="tiempo-completo">Sin Experiencia</option>
                                                <option value="medio-tiempo">Con Experiencia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">FECHA INICIO: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="date" name="fechaInicio">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">FECHA FIN: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="date" name="fechaFin">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25" data-parsley-validate>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">DESCRIPCIÓN: <span
                                                    class="tx-danger">*</span></label>
                                            <textarea class="form-control" name="descripcion" rows="4"
                                                placeholder="Ingrese la descripción de la oferta de trabajo"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">UBICACIÓN: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="ubicacion"
                                                placeholder="Ingrese la ubicación">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        
                        <!-- Botón para registrar -->
                        <button  data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-success" *ngIf="!editarClicked">
                            Registrar Título
                        </button>

                        <!-- Botón para editar -->
                        <button  data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-primary" *ngIf="editarClicked">
                            Editar Título
                        </button>

                        <button data-bs-dismiss="modal"
                            class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Modal -->