<section class="page-title bg-overlay-black parallax"
  style="background-image: url(../../../../assets/imgs/headers/Usuarios.jpg);">
  <div class="row">
    <div class="col-lg-12">
      <h1>Gestión de Usuarios</h1>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-body collapse show" id="collapse1">
    <!-- Modal -->
    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white bg-primary">
            <h5 [innerText]="editMode ? 'Modificar Usuario' : 'Crear nuevo Usuario'"></h5>
          </div>



          <div class="modal-body">
            <form [formGroup]="registerNewUserForm">
              <div class="form-layout form-layout-1">
                <div class="row mg-b-25">
                  <div class="col-lg-6 mb-3">
                    <div class="form-group">
                      <label class="form-control-label active">Primer Nombre: <span class="tx-danger">*</span></label>
                      <input type="text" placeholder="Marco" formControlName="primerNombre">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('primerNombre')?.hasError('required') && registerNewUserForm.get('primerNombre')?.touched">
                        El primer nombre es obligatorio.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Segundo Nombre: <span class="tx-danger">*</span></label>
                      <input type="text" placeholder="Aurelio" formControlName="segundoNombre">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('segundoNombre')?.hasError('required') && registerNewUserForm.get('segundoNombre')?.touched">
                        El segundo nombre es obligatorio.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Primer Apellido: <span class="tx-danger">*</span></label>
                      <input type="text" placeholder="Pérez" formControlName="primerApellido">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('primerApellido')?.hasError('required') && registerNewUserForm.get('primerApellido')?.touched">
                        El primer apellido es obligatorio.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Segundo Apellido: <span
                          class="tx-danger">*</span></label>
                      <input type="text" placeholder="Gonzales" formControlName="segundoApellido">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('segundoApellido')?.hasError('required') && registerNewUserForm.get('segundoApellido')?.touched">
                        El segundo apellido es obligatorio.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Cédula: <span class="tx-danger">*</span></label>
                      <input type="text" placeholder="01054495932" formControlName="cedula">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('cedula')?.hasError('required') && registerNewUserForm.get('cedula')?.touched">
                        La cédula es obligatoria.
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label active">Fecha de Graduación: <span
                          class="tx-danger">*</span></label>
                      <input type="date" class="form-control" formControlName="año_graduacion">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('año_graduacion')?.hasError('required') && registerNewUserForm.get('año_graduacion')?.touched">
                        Seleccione la fecha de graduación del usuario.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Correo Personal: <span class="tx-danger">*</span></label>
                      <input type="email" placeholder="personal@gmail.com" formControlName="email_personal">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('email_personal')?.hasError('required') && registerNewUserForm.get('email_personal')?.touched">
                        El correo personal del usuario es obligatorio.
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="form-group">
                      <label class="form-control-label active">Teléfono: <span class="tx-danger">*</span></label>
                      <input type="text" placeholder="01234567289" formControlName="telefono">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('telefono')?.hasError('required') && registerNewUserForm.get('telefono')?.touched">
                        El número de teléfono es obligatorio.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Fecha de Nacimiento: <span
                          class="tx-danger">*</span></label>
                      <input type="date" class="form-control" formControlName="fechaNacimiento">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('fechaNacimiento')?.hasError('required') && registerNewUserForm.get('fechaNacimiento')?.touched">
                        Seleccione una fecha de nacimiento.
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Nombre de usuario: <span
                          class="tx-danger">*</span></label>
                      <input type="text" placeholder="User1" formControlName="nombreUsuario">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('nombreUsuario')?.hasError('required') && registerNewUserForm.get('nombreUsuario')?.touched">
                        Ingrese un nombre de usuario.
                      </div>
                    </div>
                    <div *ngIf="editMode == false" class="form-group">
                      <label class="form-control-label active">Contraseña: <span class="tx-danger">*</span></label>
                      <input type="password" class="form-control" formControlName="clave">
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('clave')?.hasError('required') && registerNewUserForm.get('clave')?.touched">
                        Ingrese una contraseña.
                      </div>
                    </div>
                    <div class="form-group" *ngIf="!editMode">
                      <label class="form-control-label active">Foto: <span class="tx-danger">*</span></label>
                      <input type="file" class="form-control" (change)="capturarFile($event)"
                        accept=".png, .jpeg, .jpg">
                    </div>
                    <div class="form-group">
                      <label class="form-control-label active">Rol: <span class="tx-danger">*</span></label>
                      <select class="form-control" formControlName="nombreDelRol">
                        <option *ngFor="let role of roleList" value="{{role.nombre}}">{{role.nombre}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label active">Ciudad: <span class="tx-danger">*</span></label>
                      <select class="form-control" formControlName="ciudadNombre">
                        <option *ngFor="let city of citiesList" value="{{city.nombre}}">{{city.nombre}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label active">Estado civil: <span class="tx-danger">*</span></label>
                      <select class="form-control" formControlName="estadoCivil">
                        <option value="CASADO">CASADO</option>
                        <option value="SOLTERO">SOLTERO</option>
                        <option value="DIVORCIADO">DIVORCIADO</option>
                        <option value="OTRO">OTRO</option>
                      </select>
                      <div class="text-danger"
                        *ngIf="registerNewUserForm.get('estadoCivil')?.hasError('required') && registerNewUserForm.get('estadoCivil')?.touched">
                        Seleccione el estado civil del usuario.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="preview-img" *ngIf="previsualizacion">
                <button class="clear-image" type="button" (click)="clearImage()"
                  class="form-control bg-dark-x border-0">
                  Cancelar
                </button>
                <div class="image-container">
                  <img [src]="previsualizacion" alt="" width="100" height="100" />
                </div>
              </div>

              <div class="wrapper-button" *ngIf="previsualizacion">

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="!editMode ? register() : UpdateAllData()" type="submit" data-bs-toggle="modal"
              class="btn btn-oblong btn-primary">
              {{ editMode ? 'Actualizar' : 'Enviar Formulario' }}
            </button>


            <button data-bs-dismiss="modal" class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!--/ Modal -->

    <div class="col-md-12 col-lg-12">
      <div class="d-flex">
        <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4" type="button"
          class="btn btn-oblong btn-primary mg-b-10 mt-2" style="margin-right:10px; width: 17rem; height: 3rem;">
          Registrar Usuario
        </button>

        <div class="input-group">
          <input type="text" class="form-control me-2" id="searchInput" placeholder="Buscar..."
            style="border-color: blue;" (input)="onSearch($event)">
          <select class="form-control" id="selectInput">
            <option value="1">Nombre</option>
            <option value="2">Cedula</option>
          </select>
        </div>
      </div>
    </div>


    <div class="card-body pd-0 collapse show" id="collapse1">
      <div class="table-responsive">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>NOMBRE USUARIO</th>
              <th>CÉDULA</th>
              <th>ROL</th>
              <th class="text-center w-100px">Acciones</th>
              <th class="text-center w-100px">Activo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuarioDTO of usersList;">
              <th scope="row">{{usuarioDTO?.id}}</th>
              <td>{{usuarioDTO?.nombreUsuario}}</td>
              <td>{{usuarioDTO?.cedula}}</td>
              <td>{{usuarioDTO?.rol}}</td>

              <td class="text-center table-actions d-flex justify-content-center">
                <a (click)="catchUserDTOInContext(usuarioDTO)" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                  class="table-action mg-r-10" href="#">
                  <i class="fa-regular fa-pen-to-square"></i>
                </a>
              </td>

              <td class="text-center justify-content-center">
                <label class="switch">
                  <input type="checkbox" [checked]="usuarioDTO.estado" (change)="toggleSwitch(usuarioDTO)">
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>