<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<input type="text" id="search" placeholder="Buscar...">
    <div id="card-container">
        <div class="card">
            <div class="circle"></div>
            <div class="info">
                <h2>Nombre</h2>
                <p>Product Manager</p>
                <p>1 Year Expirence</p>
                <p>Working Hours- 8hr</p>
                <p>✩ IT Sector</p>
                <p>envato elements</p>
            </div>
            <div class="details">
                <button>Revisar Perfil</button>
            </div>
        </div>

		
		
        <!-- Agrega más tarjetas aquí -->
    </div>
</body>
</html>