<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/bg/Estudiantes4.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Actulizar Informacion</h1>
        </div>
    </div>
</section>

<div class="perfil-content">
    <div class="wrapper">
        <ul class="indicator">
            <li class="active" data-target="#home"><i class="ph-house"></i> Perfil</li>
            <li data-target="#profile"><i class="ph-user-circle"></i> Ubicación</li>
            <li data-target="#contact"><i class="ph-phone"></i> Titulos</li>
            <li data-target="#settings"><i class="ph-gear-six"></i> asa</li>
        </ul>
        <ul class="content">
            <li class="active" id="home">
                <h1>Perfil</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem esse perspiciatis inventore. Modi,
                    nostrum debitis eum placeat suscipit veniam adipisci explicabo est natus, doloribus reprehenderit
                    dolor maiores ut asperiores quam voluptas iure a doloremque vel odio ipsam molestias nihil
                    blanditiis nam, in. Soluta doloribus iste repellendus quos hic itaque eaque.</p>
                <br>
                <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-4 mb-3">
                            <div class="form-group">
                                <label class="form-control-label active">Nombre de Usuario: <span
                                        class="tx-danger">*</span></label>
                                <input class="form-control" type="text" name="username" placeholder="Enter username">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label active">Primer Nombre: <span
                                        class="tx-danger">*</span></label>
                                <input class="form-control" type="text" name="firstname" placeholder="Enter first name">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label active">Segundo Nombre: <span
                                        class="tx-danger">*</span></label>
                                <input class="form-control" type="text" name="lastname" placeholder="Enter last name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label active">Teléfono: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="phone" placeholder="Enter phone number">
                        </div>
                    </div>
                </div>
                <button class="btn btn-oblong btn-primary btn-block mg-b-10">Siguiente Paso</button>
                <br>
                <br>
                <button class="btn btn-oblong btn-success btn-block mg-b-10">Guardar</button>

            </li>
            <li id="profile">
                <h1>Profile</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem esse perspiciatis inventore. Modi,
                    nostrum debitis eum placeat suscipit veniam adipisci explicabo est natus, doloribus reprehenderit
                    dolor maiores ut asperiores quam voluptas iure a doloremque vel odio ipsam molestias nihil
                    blanditiis nam, in. Soluta doloribus iste repellendus quos hic itaque eaque.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias quasi est expedita, a
                    pariatur deleniti cum reiciendis similique cupiditate?</p>
            </li>
            <li id="contact">
                <h1>Contact</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias quasi est expedita, a
                    pariatur deleniti cum reiciendis similique cupiditate?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo magni facere quo voluptas
                    error, nulla nihil maxime fugiat earum iure fugit quas eligendi harum accusantium esse libero totam
                    eveniet reprehenderit dignissimos ex, eius, voluptate! A maxime ad nostrum voluptatem, placeat,
                    assumenda fugiat? Accusamus fuga repellendus nisi qui.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur optio in pariatur ab officiis
                    aperiam harum veritatis adipisci eveniet fuga soluta voluptas minima a necessitatibus, blanditiis.
                </p>
            </li>
            <li id="settings">
                <h1>Settings</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Velit quaerat magnam sit, nobis sed cum
                    eius voluptatem quis facilis sunt, quia? Non atque, facere obcaecati veniam! Impedit atque, facilis
                    similique doloribus quidem quibusdam quod! Quam odit quasi quia accusantium natus eos accusamus
                    sequi repellat modi reiciendis vitae provident tenetur sint tempora quaerat expedita facere,
                    assumenda quos consequatur minima quod deleniti.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sapiente.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias quasi est expedita, a
                    pariatur deleniti cum reiciendis similique cupiditate?</p>
            </li>
        </ul>
    </div>
</div>