<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/bg/Estudiantes4.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Referencias Laborales</h1>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body collapse show" id="collapse1">
        <!-- Modal -->
        <div class="modal" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div [class.bg-success]="!editarClicked" [class.bg-primary]="editarClicked"
                        class="modal-header text-white">
                        <h5 [innerText]="editarClicked ? 'Modificar Referencia Laboral' : 'Crear Referencia Laboral'">
                        </h5>
                    </div>

                    
                    <div class="modal-body">
                        <form>
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">RUC: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="username"
                                                    placeholder="Ingrese el RUC" [(ngModel)]="empresanueva.ruc" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">Nombre: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control wd-250" type="text" name="username"
                                                placeholder="Ingrese el nombre" [(ngModel)]="empresanueva.nombre" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">Tipo de Empresa: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="tipoempresa"
                                                    placeholder="Ingrese el tipoempresa" [(ngModel)]="empresanueva.tipoEmpresa" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">Razon Social: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="razonsocial"
                                                    placeholder="Ingrese la Razon Social" [(ngModel)]="empresanueva.razonsocial" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">Area: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="area"
                                                    placeholder="Ingrese el area" [(ngModel)]="empresanueva.area" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">ubicacion: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="ubicacion"
                                                    placeholder="Ingrese la ubicacion" [(ngModel)]="empresanueva.ubicacion" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-25" data-parsley-validate>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">Sitio Web: <span
                                                    class="tx-danger">*</span></label>
                                                    <input class="form-control wd-250" type="text" name="username"
                                                    placeholder="Ingrese su sitio web" [(ngModel)]="empresanueva.sitioweb" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                        
                                            <div class="form-group">
                                                <label class="form-control-label active">Ciudad: <span
                                                        class="tx-danger">*</span></label>
                                                        <select class="form-control" name="ciudad" [(ngModel)]="ID_Ciudad" (click)="getCiudadIDName()" required>
                                                            <option value="" disabled>-- Seleccione una ciudad --</option>
                                                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ ciudad?.nombre }}</option>
                                                          </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label active">Sectorempresarial: <span
                                                        class="tx-danger">*</span></label>
                                                        <select class="form-control" name="ciudad" [(ngModel)]="ID_Sector" (click)="getSectoresEmpresariales()" required>
                                                            <option value="" disabled>-- Seleccione una sector empresarial --</option>
                                                            <option *ngFor="let sector of sectoresEmpresariales" [value]="sector.id">{{ sector?.nombre }}</option>
                                                          </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button (click)="crearEmpresa()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong" [class.btn-success]="!editarClicked"
                            [class.btn-primary]="editarClicked">
                            {{ editarClicked ? 'Actualizar' : 'Enviar Formulario' }}
                        </button>
                        <button data-bs-dismiss="modal"
                            class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Modal -->
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4" type="button"
                    class="btn btn-oblong btn-success mg-b-10" style="margin-right:10px; width: 17rem; height: 2.5rem;">
                    Registrar Referencia</button>
                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" placeholder="Buscar...">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card-body pd-0 collapse show" id="collapse1">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>NOMBRE</th>
                            <th>TELEFONO</th>
                            <th>DIRECCIÓN</th>
                            <th class="text-center w-100px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ofertalaborales.titulo</td>
                            <td>ofertalaborales.fecha</td>
                            <td>ofertalaborales.nivel</td>
                            <td class="text-center table-actions d-flex justify-content-center">
                                <a (click)="onEditarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                                    class="table-action mg-r-10" [class.text-primary]="!editarClicked"
                                    [class.text-danger]="editarClicked" href="#">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>

                                <a class="table-action ms-2 text-danger" href="#">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>