<div class="card">
    <div class="card-header">
        <h4 class="card-header-title">
            Añadir Oferta De Trabajo
        </h4>
    </div>
    <div class="card-body collapse show" id="collapse1">
        <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="form-control-label active">CARGO: <span
                                class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="username" placeholder="Enter username">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label active">AREA CONOCIMIENTO: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname" placeholder="Enter first name">
                    </div>
                </div>
            </div>
            <div class="row mg-b-25">
                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="form-control-label active">JORNADA: <span
                                class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="username" placeholder="Enter username">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label active">EXPERIENCIAS: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname" placeholder="Enter first name">
                    </div>
                </div>
            </div>
            <div class="row mg-b-25">
                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="form-control-label active">FECHA INICIO: <span
                                class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="username" placeholder="Enter username">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label active">CIUDAD: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname" placeholder="Enter first name">
                    </div>
                </div>
            </div>
            <div class="row mg-b-25">
                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="form-control-label active">CARGO: <span
                                class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="username" placeholder="Enter username">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label active">AREA CONOCIMIENTO: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname" placeholder="Enter first name">
                    </div>
                </div>
            </div>
        </div>
        <!-- form-layout -->

        <div class="col-sm-6 col-md-3">
            <button class="btn btn-oblong btn-success btn-block mg-b-10" style="margin-right: 10px;">Enviar
                Formulario</button>
            <button class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
        </div>
    </div>
    <!-- card-body -->
</div>
<!-- card -->