<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Experiencia.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Trabajos</h1>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body collapse show" id="collapse1">
        <!-- Modal -->
        <div class="modal" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div [class.bg-success]="!editarClicked" [class.bg-primary]="editarClicked"
                        class="modal-header text-white">
                        <h5 [innerText]="editarClicked ? 'Modificar Trabajos' : 'Crear Trabajos'">
                        </h5>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-25 my-3" data-parsley-validate>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active" for="cargo">CARGO: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="cargo"
                                                placeholder="Ingrese el cargo" id="cargo"
                                                [(ngModel)]="editarClicked ? ofertaslaboralesCarga.cargo : ofertaslaborales.cargo"
                                                (ngModelChange)="editarClicked ? ofertaslaboralesCarga.cargo = $event : ofertaslaborales.cargo = $event"

                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active" for="duracion">EMPRESA: <span
                                                    class="tx-danger">*</span></label>
                                                    <select class="form-control" name="nombreEmpresa" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.nombreEmpresa : ofertaslaborales.nombreEmpresa"
                                                    (ngModelChange)="editarClicked ? ofertaslaboralesCarga.nombreEmpresa = $event : ofertaslaborales.nombreEmpresa = $event">
                                                        <option value="" >-- Seleccione una opción --</option>
                                                        <option [value]="empresa.nombre" *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
                                                    </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mg-b-25">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">FECHA CIERRE: <span class="tx-danger">*</span></label>
                                            <input class="form-control" type="date" name="fechaCierre" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.fechaCierre : ofertaslaborales.fechaCierre"
                                            (ngModelChange)="editarClicked ? ofertaslaboralesCarga.fechaCierre = $event : ofertaslaborales.fechaCierre = $event">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="form-control-label active">FECHA APERTURA: <span class="tx-danger">*</span></label>
                                            <input class="form-control" type="date" name="fechaApertura" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.fechaApertura : ofertaslaborales.fechaApertura" 
                                            (ngModelChange)="editarClicked ? ofertaslaboralesCarga.fechaApertura = $event : ofertaslaborales.fechaApertura = $event">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mg-b-25">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">FECHA PUBLICACION: <span class="tx-danger">*</span></label>
                                            <input class="form-control wd-250" type="text" name="fechaPublicacion" value="{{fechaPublicacion}}" 
                                            readonly>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active">AREA CONOCIMINETO: <span class="tx-danger">*</span></label>
                                            <textarea class="form-control" name="areaConocimiento" rows="4"
                                                placeholder="Ingrese el area de conocimiento para su oferta de trabajo" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.areaConocimiento : ofertaslaborales.areaConocimiento"
                                                (ngModelChange)="editarClicked ? ofertaslaboralesCarga.areaConocimiento = $event : ofertaslaborales.areaConocimiento = $event"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mg-b-25 my-3">
                                    <div class="col-lg-6">
                                        <div class="form-group">    
                                            <label class="form-control-label active">ESTADO: <span class="tx-danger">*</span></label>
                                            <input class="form-control wd-250" type="text" name="estado" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.estado : ofertaslaborales.estado" 
                                            readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label active" for="salario">SALARIO: <span
                                                    class="tx-danger">*</span></label>
                                            <input class="form-control" type="text" name="salario"
                                                placeholder="Ingrese la Salario" id="salario"
                                                [(ngModel)]="editarClicked ? ofertaslaboralesCarga.salario : ofertaslaborales.salario"
                                                (ngModelChange)="editarClicked ? ofertaslaboralesCarga.salario = $event : ofertaslaborales.salario = $event"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label class="form-control-label active">EXPERIENCIA: <span class="tx-danger">*</span></label>
                                        <select class="form-control" name="experiencia" [(ngModel)]="editarClicked ? ofertaslaboralesCarga.experiencia : ofertaslaborales.experiencia "
                                        (ngModelChange)="editarClicked ? ofertaslaboralesCarga.experiencia = $event : ofertaslaborales.experiencia = $event">
                                            <option value="" disabled>-- Seleccione una opción --</option>
                                            <option value="Sin Experiencia">Sin Experiencia</option>
                                            <option value="Con Experiencia">Con Experiencia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <!-- Botón para registrar -->
                        <button (click)="createOfertaLaboral()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-success" *ngIf="!editarClicked">
                            Registrar Trabajo
                        </button>

                        <!-- Botón para editar -->
                        <button (click)="updateOfertaLaboral()" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                            class="btn btn-oblong btn-primary" *ngIf="editarClicked">
                            Editar Trabajo
                        </button>

                        <button data-bs-dismiss="modal"
                            class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Modal -->
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#m_modal_4" type="button"
                    class="btn btn-oblong btn-success mg-b-10" style="margin-right:10px; width: 20rem; height: 2.5rem;">
                    Registrar Trabajo
                </button>
            </div>
        </div>

        <div class="card-body pd-0 collapse show">
            <div class="table-responsive">
                <table datatable class="table table-bordered custom-table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th>FECHA CIERRE</th>
                            <th>INSTITUCION</th>
                            <th>ESTADO</th>
                            <th class="text-center w-100px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let oferta of ofertaslaboraleslist">
                            <th scope="row">{{oferta.id}}</th>
                            <td>{{oferta.fechaCierre}} </td>
                            <td>{{ oferta.nombreEmpresa}}</td>
                            <td>{{oferta.estado}}</td>
                            <td class="text-center table-actions d-flex justify-content-center">
                                <a (click)="onEditarClick(oferta.id)" data-bs-toggle="modal" data-bs-target="#m_modal_4"
                                    class="table-action mg-r-10">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a (click)="deleteOfertaLaboral(oferta.id)" class="table-action ms-2 text-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>