<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition bg-light p-4 py-5 shadow rounded text-center">
            <img src="cdn/images/charity/crowdfunding.svg" class="avatar avatar-small" alt="">
            <h5 class="title mt-3">Crowdfunding</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page reader will be of a page
                when looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">Know More <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition p-4 py-5 shadow rounded text-center">
            <img src="cdn/images/charity/donation.svg" class="avatar avatar-small" alt="">
            <h5 class="title mt-3">Donate Now</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page when reader will be of a
                page looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">Know More <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition bg-light p-4 py-5 shadow rounded text-center">
            <img src="cdn/images/charity/heart.svg" class="avatar avatar-small" alt="">
            <h5 class="title mt-3">Get Involved</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page when reader will be of a
                page looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">Know More <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->
</div><!--end row-->