<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('cdn/images/about/bg.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="title-heading text-center">
                    <h3 class="font-weight-normal text-white mb-4">Jobs Listing</h3>
                    <div class="page-next-level">
                        <ul class="page-next mb-0 px-0">
                            <li class="list-inline-item icon-light mr-1"><a href="index.html"
                                    class="text-white pr-2">Home</a></li>
                            <li class="list-inline-item mr-1"><span class="text-white pr-2">Jobs Listing</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-bottom">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <div class="section-title">
                                <h4 class="title mb-2">All Jobs</h4>
                                <p class="text-muted mb-0">Most Relevance Job</p>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <div class="form custom-form">
                                <div class="form-group">
                                    <label>Types of jobs :</label>
                                    <select class="form-control custom-select" id="Sortbylist-job">
                                        <option>All Jobs</option>
                                        <option>Full Time</option>
                                        <option>Part Time</option>
                                        <option>Remote</option>
                                        <option>Work From Home</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-5 col-12 mt-4 pt-2">
                <div class="sidebar sticky-bar shadow rounded p-4">
                    <div class="widget pb-3">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li>
                                <h4 class="title">Job Type</h4>
                            </li>
                            <li><a href="javascript:void(0)" class="text-muted">Clear</a></li>
                        </ul>
                        <ul class="list-unstyled mb-0 mt-3 catagory">
                            <li><a href="#">Full Time</a> <span class="float-right">5</span></li>
                            <li><a href="#">Part Time</a> <span class="float-right">08</span></li>
                            <li><a href="#">Contract</a> <span class="float-right">36</span></li>
                            <li><a href="#">Internship</a> <span class="float-right">10</span></li>
                            <li><a href="#">Freelance</a> <span class="float-right">16</span></li>
                        </ul>
                    </div>

                    <div class="widget border-top py-3">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li>
                                <h4 class="title">Location</h4>
                            </li>
                            <li><a href="javascript:void(0)" class="text-muted">Clear</a></li>
                        </ul>
                        <ul class="list-unstyled mb-0 mt-3 catagory">
                            <li><a href="#">China</a> <span class="float-right">14</span></li>
                            <li><a href="#">U.S.A</a> <span class="float-right">68</span></li>
                            <li><a href="#">U.K</a> <span class="float-right">35</span></li>
                            <li><a href="#">Mexico</a> <span class="float-right">01</span></li>
                            <li><a href="#">New York</a> <span class="float-right">22</span></li>
                        </ul>
                    </div>

                    <div class="widget border-top pt-3">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li>
                                <h4 class="title">Company</h4>
                            </li>
                            <li><a href="javascript:void(0)" class="text-muted">Clear</a></li>
                        </ul>
                        <ul class="list-unstyled mb-0 mt-3 catagory">
                            <li><a href="#">Audio Jungle</a> <span class="float-right">13</span></li>
                            <li><a href="#">Theme Forest</a> <span class="float-right">09</span></li>
                            <li><a href="#">Placeit</a> <span class="float-right">18</span></li>
                            <li><a href="#">Code Canyon</a> <span class="float-right">20</span></li>
                            <li><a href="#">Envato</a> <span class="float-right">22</span></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-7 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/envato.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Digital
                                                Marketing Manager</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Envato</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Full
                                                    Time</span></li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">USA</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/envato-market.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Web
                                                Developer</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Envato Market</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Remote</span>
                                            </li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">China</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/codecanyon.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> PHP
                                                Developer</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Code Canyon</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Part
                                                    Time</span></li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">U.K</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/themeforest.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Front-end
                                                Developer</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Theme Forest</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Remote</span>
                                            </li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">London</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/envato-studio.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Back-end
                                                Developer</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Envato Studio</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Full
                                                    Time</span></li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">Tokyo</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/envato-tuts.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Prestashop
                                                Developer</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">sa</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Full
                                                    Time</span></li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">California</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="job-listing p-4 rounded shadow position-relative overflow-hidden">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-12">
                                    <div class="text-center text-lg-left">
                                        <img src="cdn/images/job/elements.svg" class="avatar avatar-small" alt="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
                                    <div class="content text-center text-lg-left ml-lg-4">
                                        <h4 class="title"><a href="pages-job-detail.html" class="text-dark"> Finance
                                                Manager</a> <a href="pages-job-company.html"
                                                class="text-muted small h6 mb-0">@Envato Elements</a></h4>
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item mr-3"><i data-feather="briefcase"
                                                    class="fea icon-sm mr-1"></i><span class="text-muted">Remote</span>
                                            </li>
                                            <li class="list-inline-item"><i data-feather="map-pin"
                                                    class="fea icon-sm mr-1"></i><a href="javascript:void(0)"
                                                    class="text-muted">New York</a></li>
                                        </ul>
                                        <div class="tagcloud text-center mt-2 text-lg-left">
                                            <a href="#" class="rounded">Business</a>
                                            <a href="#" class="rounded">Finance</a>
                                            <a href="#" class="rounded">Marketing</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0">
                                    <a href="pages-job-apply.html" class="btn btn-block btn-primary">Apply Now</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <a href="javascript:void(0)" class="text-danger like"> <i data-feather="heart"
                                    class="fea icon-sm like-icon"></i> </a>
                        </div><!--end feature Job-->
                    </div><!--end col-->

                    <div class="col-12 mt-4 pt-2">
                        <ul class="pagination justify-content-center mb-0 list-unstyled">
                            <li class="d-inline"><a href="#" class="float-left text-dark border pr-3 pl-3 pt-2 pb-2"><i
                                        data-feather="chevrons-left" class="fea icon-sm"></i></a></li>
                            <li class="active d-inline"><a href="#"
                                    class="float-left text-white border rounded pr-3 pl-3 pt-2 pb-2">1</a></li>
                            <li class="d-inline"><a href="#"
                                    class="float-left text-dark border rounded pr-3 pl-3 pt-2 pb-2">2</a></li>
                            <li class="d-inline"><a href="#"
                                    class="float-left text-dark border rounded pr-3 pl-3 pt-2 pb-2">3</a></li>
                            <li class="d-inline"><a href="#" class="float-left text-dark border pr-3 pl-3 pt-2 pb-2"><i
                                        data-feather="chevrons-right" class="fea icon-sm"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Start -->