/** =============== PARTE DEL FONDO PARALLAX EN EL INICIO DE CADA PAGINA ===============*/

.page-title {
    display: block;
    padding-top: 130px;
    padding-bottom: 80px;
    position: relative;
}

.page-title span {
    text-transform: capitalize;
}

.page-title h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.page-title .page-breadcrumb {
    width: 100%;
    text-align: center;
    position: relative;
}

ul.page-breadcrumb {
    padding-top: 30px;
    padding-right: 30px;
}

ul.page-breadcrumb li span {
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
}

ul.page-breadcrumb li {
    color: #fff;
    display: inline-block;
    list-style: none;
}

ul.page-breadcrumb li i {
    font-size: 16px;
    padding: 0 10px;
}

ul.page-breadcrumb li a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

ul.page-breadcrumb li a:hover {
    color: #6984ff;
    font-weight: bold;
}

.bg-overlay-black::before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/** =============== FIN DE LA PARTE DEL FONDO EN EL INICIO DE CADA PAGINA ===============*/