<div class="card">
    <div class="card-header">
        <h3 class="card-header-title">
            Mis Postulaciones
        </h3>
    </div>
    <div class="card-body collapse show" id="collapse1">
        
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" placeholder="Buscar...">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card-body pd-0 collapse show" id="collapse1">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>EMPRESA</th>
                            <th>CARGO</th>
                            <th>DESCRIPCION</th>
                            <th>AREA CONOCIMIENTOS</th>
                            <th>SALARIO</th>
                            <th>JORNADA</th>
                            <th>REQUISITOS ACADEMICOS</th>
                            <th>EXPERIENCIA</th>
                            <th>UBICACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>capacitaciones.empresa</td>
                            <td>capacitaciones.cargo</td>
                            <td>capacitaciones.descripcion</td>
                            <td>capacitaciones.area_conocimiento</td>
                            <td>capacitaciones.salario</td>
                            <td>capacitaciones.jornada</td>
                            <td>capacitaciones.requisitos_academicos</td>
                            <td>capacitaciones.experiencia</td>
                            <td>capacitaciones.ubicacion</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>