<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Empresas.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Postulaciones</h1>
        </div>
    </div>
</section>


<div class="card">
    <div class="card-body collapse show">

        <div class="card-body pd-0 collapse show animate__animated animate__bounceInUp animate__fast">
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" placeholder="Buscar...">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card-body pd-0 collapse show animate__animated animate__bounceInUp animate__fast" id="collapse1">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered custom-table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th>EMPRESA</th>
                            <th>CARGO</th>
                            <th>AREA CONOCIMIENTOS</th>
                            <th>SALARIO</th>
                            <th>APERTURA</th>
                            <th>EXPERIENCIA</th>
                            <th class="text-center w-100px">CIUDAD</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                            <th>PUBLICACION</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let postulacion of misPostulaciones; let id = index">
                            <th scope="row">{{id + 1}}</th>
                            <td>{{postulacion.ofertaLaboral?.empresa?.nombre}}</td>
                            <td>{{postulacion.ofertaLaboral?.cargo}}</td>
                            <!-- <td>{{postulacion.area_conocimiento}}</td> -->
                            <td>{{postulacion.ofertaLaboral?.area_conocimiento}}</td>
                            <td class="text-center">
                                {{ postulacion.ofertaLaboral?.salario !== 0 ? '$' + postulacion.ofertaLaboral?.salario : 'Hablarlo con la empresa' }}
                              </td>                              
                              <td>{{ postulacion.ofertaLaboral?.fecha_apertura ? postulacion.ofertaLaboral?.fecha_apertura : 'No definido' }}</td>
                            <!-- Sin información dentro de DB -->
                            <!-- <td>{{postulacion.experiencia}}</td>  -->
                            <td>{{ postulacion.ofertaLaboral?.experiencia ? postulacion.ofertaLaboral?.experiencia : 'No definido' }}</td>
                            <td>{{postulacion.ofertaLaboral?.empresa?.ciudad?.nombre}}</td>
                            <td class="text-danger fw-bold">{{postulacion.estado}}</td>
                            <td class="text-center" >
                                <button *ngIf="postulacion.estado === 'APLICANDO'" class="fa fa-trash border-0 p-3 mb-2 bg-transparent text-dark" aria-hidden="true" (click)="cancelOffer(postulacion)"></button>
                                <button *ngIf="postulacion.estado === 'CANCELADA_POR_GRADUADO'" class="fas fa-undo-alt border-0 p-3 mb-2 bg-transparent text-dark" aria-hidden="true" (click)="repostulateOffer(postulacion)"></button>
                            </td>
                            <td >
                                <i class="fas fa-image" 
                                *ngIf="!loading && postulacion.ofertaLaboral?.foto_portada" 
                                (click)="openModal(postulacion.ofertaLaboral?.foto_portada)"
                                style="cursor: pointer;"></i>
                               
                            </td>
                            
                            
                            
                            
                                                        
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>

    </div>
</div>
<div class="modal" #m_modal_4 id="m_modal_4" tabindex="-1" role="dialog" [hidden]="!modalImage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Oferta Laboral</h5>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <img [src]="modalImage" alt="Foto de Portada" class="img-fluid">
            </div>
            
            <div class="modal-footer">
                <button data-bs-dismiss="modal" #myModalClose class="btn btn-oblong btn-outline-danger btn-block"
                id="close-button">Cerrar</button>
            </div>
        </div>
    </div>
</div>
