<!-- Hero Start -->
<section class="bg-half-260 pb-4 d-table w-100"
    style="background: url('../../../../assets/imgs/bg/Isuta_bg.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="candidate-detail text-center text-md-left p-4 rounded shadow bg-white">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="candidate-detail-top align-items-center">
                                <img src="../../../../assets/imgs/User_Icon.png"
                                    class="avatar avatar-medium rounded-circle shadow mr-md-3" alt="">
                                <div class="content mt-4 mt-sm-0">
                                    <h4 class="mb-0">Angel Steven</h4>
                                    <h6 class="text-muted">Desarrollo de software</h6>
                                    <p class="mb-0"><i data-feather="map-pin" class="fea icon-sm mr-1"></i><span
                                            class="text-muted h6">Cuenca</span></p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-md-4 mt-4 mt-sm-0">
                            <div class="text-md-right">
                                <a href="javascript:void(0)" class="btn btn-outline-primary mt-2 ml-2">Actualizar
                                    Perfil</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->