thead tr th {
  background-color: #1e90ff;
  color: white;
}

.job {
  display: flex;
  flex-direction: column;
  background-color: var(--side-bg-color);
  color: var(--text-color);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 30px;
  overflow: auto;
}

.search-menu {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 48px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 3px rgb(0, 111, 201);
}

.search-bar input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 03% 50%;
  padding: 0 25px 0 80px;
}

.search-button {
  background-color: #0162ff;
  height: 55px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  transition: 500ms all ease-in-out;
}

.search-button:hover {
  background-color: #003fa4;
}

.main-container {
  display: flex;
  flex-grow: 1;
  padding-top: 15px;
}

.search-buttons {
  border: none;
  color: #ffffff;
  background-color: #0162ff;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  transition: 250ms all ease-in-out;
}

.search-buttons:hover {
  transform: translateY(-3px);
}

.searched-jobs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10px;
}

@-webkit-keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.job-cards {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -webkit-animation: slideY 0.6s both;
  animation: slideY 0.6s both;
}

.job-card {
  padding: 20px;
  background: var(--card-comunity);
  box-shadow: 0 6px 20px rgba(148, 143, 88, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.job-card:hover {
  transform: scale(1.02);
}

.job-card svg {
  width: 46px;
  padding: 10px;
  border-radius: 8px;
}

.job-card-title {
  margin-top: 16px;
  font-size: 14px;
}

.job-card-subtitle {
  color: #83838e;
  font-size: 13px;
  margin-top: 14px;
  line-height: 1.6em;
}

.detail-button {
  background-color: #e1ebfb;
  color: #0162ff;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 4px;
}

.detail-button+.detail-button {
  margin-left: 4px;
}

.job-card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.card-buttons {
  margin-right: 12px;
}

.card-buttons-msg {
  background-color: #2ac90e;
  color: #ffffff;
}

.header-shadow {
  box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
  z-index: 1;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}

/* Foto de perfil */
.perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.perfil img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border: 3px solid #FFDB7A;
  -o-object-fit: cover;
  object-fit: cover;
}

.perfil span {
  padding: 10px 20px;
  background: rgb(255, 226, 95);
  border: 2px solid #F0D078;
  box-shadow: 0px 4px 3px rgba(253, 186, 0, 0.19), inset 0px 0px 60px #000000;
  border-radius: 50px;
  color: white;
  margin-top: -25px;
  font-size: 1em;
}

.content-menu_i {
  width: 120px;
  margin-left: 1rem;
  border-radius: 15px;
  height: 40px;
  background: var(--filter-bg);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.281);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  position: relative;
}

.item {
  cursor: pointer;
}

.linee {
  width: 20px;
  height: 3px;
  background: var(--indicator-bar-color);
  margin-top: 3px;
  border-radius: 5px;
  transition: all 0.2s;
}

.white-background {
  background-color: rgb(100, 100, 100);
}

.linee1 {
  width: 15px;
  transform: translateX(5px);
}

.linee1::before {
  content: "";
  display: block;
  transform: translateX(-5px);
  width: 3px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s, transform 0.2s;
}

.linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 0px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s;
}

.linee3 {
  width: 13px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 5px);
  grid-auto-rows: 5px;
  grid-gap: 4px;
  transform: translateY(3px);
}

.dot {
  border: 2px solid var(--indicator-bar-color);
  border-radius: 50%;
}

.dot.white-background {
  border: 2px solid rgb(100, 100, 100);
}

.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: all 0.2s;
}

.line1 {
  transform: rotate(0deg);
}

.line2 {
  transform: rotate(90deg);
}

/* Efecto hover */
.menu:hover .linee1 {
  width: 10px;
  transform: translateX(0px);
}

.menu:hover .linee1::before {
  width: 0px;
  transform: translateX(0px);
}

.menu:hover .linee3 {
  width: 15px;
}

.menu:hover .linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 3px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s;
}

.gallery:hover .dot1 {
  animation: jump 0.4s ease 1;
}

.gallery:hover .dot2 {
  animation: jump 0.4s ease 0.1s 1;
}

.gallery:hover .dot3 {
  animation: jump 0.4s ease 0.2s 1;
}

.gallery:hover .dot4 {
  animation: jump 0.4s ease 0.3s 1;
}

.gallery:hover .dot5 {
  animation: jump 0.4s ease 0.4s 1;
}

.gallery:hover .dot6 {
  animation: jump 0.4s ease 0.5s 1;
}

@keyframes jump {
  50% {
    transform: translateY(-4px);
    border-color: rgb(0, 255, 17);
  }

  100% {
    transform: translateY(0px);
    border-color: rgb(0, 85, 255);
  }
}

.filters-toggle {
  padding: 0 24px;
  margin-left: 16px;
  line-height: 3.1em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 0.0625em solid transparent;
  background: var(--filter-bg);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.281);
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: 500ms all ease-out;
}

.filters-toggle:hover {
  background: var(--body-bg-color);
}

.filters-toggle:focus {
  border-color: #ddd;
  outline: none;
}

.filters-toggle__text svg {
  margin-bottom: -4px;
  margin-right: 8px;
}

.filters-toggle__text {
  font-size: 0.875em;
}

.filters-toggle.is-open,
.filters-toggle.active {
  background: #d7e6ef;
  color: #009ee3;
  border-color: transparent;
}

.filters-toggle.is-open svg g path,
.filters-toggle.active svg g path {
  stroke: #009ee3;
}

.filters-toggle.is-open:hover svg g path,
.filters-toggle.active:hover svg g path {
  stroke: #009ee3;
}

@media screen and (max-width: 1212px) {
  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 930px) {
  .job-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .detail-page {
    display: none;
  }

  .detail-page .searched-jobs {
    padding-left: 0;
  }
}

@media screen and (max-width: 990px) {

  .explain-contents,
  .explain-bar {
    height: auto;
  }

  .explain-bar {
    flex-wrap: wrap;
    padding-bottom: 14px;
  }

  .explain-contents {
    width: 50%;
  }

  .explain-contents+.explain-contents {
    padding: 0;
    border: 0;
  }

  .explain-contents:nth-child(2)~.explain-contents {
    margin-top: 16px;
    border-top: 1px solid #d8d8d8;
  }

  .job-subtitle-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .job-subtitle-wrapper .posted {
    margin-left: 0;
    margin-top: 6px;
  }
}

@media screen and (max-width: 930px) {
  .search-bar {
    width: auto;
  }
}

@media screen and (max-width: 760px) {
  .detail-page {
    display: none;
  }

  .user-name {
    display: none;
  }

  .job-explain {
    margin-left: 0;
  }
}

@media screen and (max-width: 730px) {
  .searched-jobs {
    padding-left: 0;
  }

  .search-menu div:not(:last-of-type) {
    border: 0;
  }

  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .job-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .search-bar {
    flex-grow: 1;
  }

  .search-bar input {
    padding: 0 0 0 30px;
  }

  .search-button {
    margin-left: 16px;
  }

  .main-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 380px) {
  .explain-contents {
    width: 100%;
    margin: 0;
  }

  .explain-contents:nth-child(2)~.explain-contents {
    margin: 0;
    border: 0;
  }

  .wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {

  .search-menu div:not(:last-of-type) {
    border-right: none;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .filters-toggle {
    display: none;
  }
}