<div class="container">
    <div class="card__container">
        <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
                <div class="card__shape-2"></div>
                <div class="card__shape-3">
                    <i class="ri-flashlight-line card__icon"></i>
                </div>
            </div>

            <div class="card__data">
                <h2 class="card__title">Administrador</h2>

                <p class="card__description">
                    Control total para la plataforma alumni
                </p>

                <a href="#" class="card__button">
                    Iniciar Sesion
                </a>
            </div>
        </article>

        <article class="card__article card__orange">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
                <div class="card__shape-2"></div>
                <div class="card__shape-3">
                    <i class="ri-fire-line card__icon"></i>
                </div>
            </div>

            <div class="card__data">
                <h2 class="card__title">Empresario</h2>

                <p class="card__description">
                    Oferta propuestas trabajo para los alumnos egresados
                </p>

                <a href="#" class="card__button">
                    Iniciar Sesion
                </a>
            </div>
        </article>

        <article class="card__article card__green">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
                <div class="card__shape-2"></div>
                <div class="card__shape-3">
                    <i class="ri-shining-line card__icon"></i>
                </div>
            </div>

            <div class="card__data">
                <h2 class="card__title">Alumno</h2>

                <p class="card__description">
                    Ingresa tu imformación personal y postula
                </p>

                <a href="#" class="card__button">
                    Iniciar Sesion
                </a>
            </div>
        </article>
    </div>
</div>