<div class="container">
    <div class="row">
      <div class="col">
        <h2 class="my-4">Encuestas con Preguntas y Respuestas</h2>
      </div>
    </div>
  
    <div class="row">
      <ng-container *ngIf="(surveyQuestionsAnswersList$ | async) as surveyQuestionsAnswersList">
        <ng-container *ngFor="let survey of surveyQuestionsAnswersList">
          <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
              <div class="card-body">
                <h5 class="card-title">{{ survey.surveyTitle }}</h5>
                <p class="card-text">{{ survey.surveyDescription }}</p>
                <hr> <!-- Línea divisoria después de la descripción -->
                <div *ngFor="let question of survey.questionsWithAnswers">
                  <h6 class="card-subtitle mb-3">Pregunta: {{ question.questionText }}</h6>
                  <ul class="list-group mb-4"> <!-- Agregamos margen inferior a la lista -->
                    <li class="list-group-item" *ngFor="let answer of question.answers">
                      {{ answer }}
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  